# Backend
# Opção 1: MongoDB Local
# MONGODB_URI=mongodb://localhost:27017/agendamento-servicos

# Opção 2: MongoDB Atlas (recomendado para desenvolvimento sem MongoDB local)
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/agendamento-servicos?appName=Cluster-Agendamento

JWT_SECRET=your-secret-key-here
PORT=5000

# Frontend
VITE_API_URL=http://localhost:5000
